{% macro render_pagination(template_name, feed, entries) %}
    <ul class="pagination justify-content-center pt-3">
	<li class="page-item {% if not entries.has_prev %}disabled{% endif %}">
	    <a class="page-link" href="{{ url_for(template_name, feed_id=feed['id'], page=entries.prev_num) }}" tabindex="-1">Previous</a>
	</li>
	{%- for page in entries.iter_pages() %}
	    {% if page %}
		{% if page != entries.page %}
		    <li class="page-item">
			<a class="page-link" href="{{ url_for(template_name, feed_id=feed['id'], page=page) }}">{{ page }}</a>
		    </li>
		{% else %}
		    <li class="page-item active">
			<a class="page-link" href="#" >{{ page }}</a>
		    </li>
		{% endif %}
	    {% else %}
		<li class="page-item disabled">
		    <a href="#" class="page-link">...</a>
		</li>
	    {% endif %}
	{%- endfor %}
	<li class="page-item {% if not entries.has_next %}disabled{% endif %}">
	    <a class="page-link" href="{{ url_for(template_name, feed_id=feed['id'], page=entries.next_num) }}">Next</a>
	</li>
    </ul>
{% endmacro %}
