{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Admin panel{% endblock %}</h2>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <ul class="list-group list-group-flush">
	{% for user in users %}
	<li class="list-group-item text-center">
	    id:{{ user['id'] }}, name:{{ user['username'] }}, feeds:{{ feed_count[loop.index0] }}, admin:{{ user['is_admin'] }}, upd_interval:{{ user['update_interval'] }}
	</li>
	{% endfor %}
    </ul>
</div>
{% endblock %}
