<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">
    <title>nano nano rss - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font.css') }}">
    {% block more_css %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary justify-content-center">
	<a class="navbar-brand" href="/" >nano nano rss</a>
	<ul class="navbar-nav">
	    {% if session.logged_in %}
	    <li class="nav-item{%- if request.path == url_for('default_web.add_feed') %} active{% endif %}">
		<a href="{{ url_for('default_web.add_feed') }}" class="nav-link">Add</a>
	    </li>
	    <li class="nav-item{%- if request.path == url_for('default_web.feed_list') %} active{% endif %}">
		<a href="{{ url_for('default_web.feed_list') }}" class="nav-link">List</a>
	    </li>
	    <li class="nav-item{%- if request.path == url_for('default_web.settings') %} active{% endif %}">
		<a href="{{ url_for('default_web.settings') }}" class="nav-link">Settings</a>
	    </li>
	    <li class="nav-item{%- if request.path == url_for('default_web.import_feeds') %} active{% endif %}">
		<a href="{{ url_for('default_web.import_feeds') }}" class="nav-link">Import</a>
	    </li>
	    <li class="nav-item{%- if request.path == url_for('default_web.export_feeds') %} active{% endif %}">
		<a href="{{ url_for('default_web.export_feeds') }}" class="nav-link">Export</a>
	    </li>
	    <li class="nav-item">
		<a href="{{ url_for('default_web.logout') }}" class="nav-link">Log Out</a>
	    </li>
	    {% else %}
	    <li class="nav-item{%- if request.path == url_for('default_web.register') %} active{% endif %}">
		<a href="{{ url_for('default_web.register') }}" class="nav-link">Register</a>
	    </li>
	    <li class="nav-item{%- if request.path == url_for('default_web.login') %} active{% endif %}">
		<a href="{{ url_for('default_web.login') }}" class="nav-link">Log In</a>
	    </li>
	    {% endif %}
	</ul>
    </nav>
    <div class="container pt-3">
	<div class="text-center pb-3">
	    {% block header %}{% endblock %}
	    {% block subtitle %}{% endblock %}
	</div>
	{% with messages = get_flashed_messages(with_categories=True) %}
	    {% if messages %}
		{% for category, message in messages %}
		    {% if category == 'info' %}
			<div class="alert alert-success">{{ message }}</div>
		    {% elif category == 'error' %}
			<div class="alert alert-danger">{{ message }}</div>
		    {% endif %}
		{% endfor %}
	    {% endif %}
	{% endwith %}
	<div class="row justify-content-center">
	    {% block content %}{% endblock %}
	</div>
    </div>
    <footer class="pb-2">
	{% block footer %}{% endblock %}
    </footer>
</body>
</html>
