{% extends 'base.html' %}

{% block header %}
<h2 class="text-center">{% block title %}Delete {{ the_feed['title'] }}?{% endblock %}</h2>
{% endblock %}

{% block content %}
<div class="container">
    <h5 class="text-center">Do you really want to delete feed <a href="{{ the_feed['link'] }}">{{ the_feed['link'] }}</a>?</h2>
    <div class="row justify-content-md-center">
	<div class="btn-group">
	    <form method="post" action="{{request.path}}">
		<input class="btn btn-danger mx-2 mb-2" type="submit" value="Yes">
	    </form>
	    <form method="get" action="{{ request.path.split('/remove')[0] }}">
		<input class="btn btn-primary mx-2 mb-2" type="submit" value="No">
	    </form>
	</div>
    </div>
</div>
{% endblock %}
