{% extends 'base.html' %}
{% set request_path = request.path|replace("/unread", "") %}

{% block header %}
<h2 class="text-center">{% block title %}{{ feed['title'] }}{% endblock %}</h2>
<h5 class="text-center"><a href="{{ feed['link'] }}">{{ feed['link'] }}</a></h2>
{% endblock %}

{% block content %}
<div class="btn-group">
    <form method="get" action="{{request_path}}">
	<input class="btn btn-secondary mx-2 mb-2" type="submit" value="Show all">
    </form>
    <form method="post" action="{{request_path}}/update">
	<input class="btn btn-primary mx-2 mb-2" type="submit" value="Update feed">
    </form>
    <form method="get" action="{{request_path}}/remove">
	<input class="btn btn-danger mx-2 mb-2" type="submit" value="Remove feed">
    </form>
</div>
<div class="col-md-10 pt-3">
    <ul class="list-group list-group-flush">
	{% for item in entries.items %}
	    <li class="list-group-item">
		<div class="row">
		    <a class="col-8" href="{{request.path}}/set_read?entry_id={{item.id}}">{{item.title}}</a> 
		    <div class="col text-right">{{item.date}}</div>
		</div>
	    </li>
	{% endfor %}
    </ul>
{% endblock %}
{% block footer %}
    {% from "macros/renderpagination.html" import render_pagination %}
    {{ render_pagination("default_web.view_feed_entries_unread", feed, entries) }}
{% endblock %}
