{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Export feeds{% endblock %}</h2>
{% endblock %}

{% block content %}
{% from "macros/renderfield.html" import render_field %}
<div class="col-md-5">
    <form method="post">
	    {{ render_field(form.export_button, class_="btn btn-secondary") }}
    </form>
</div>
{% endblock %}
