{% extends 'base.html' %}

{% block more_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='checkbox_hide.css') }}">
{% endblock %}

{% block header %}
<h2>{% block title %}Feed list{% endblock %}</h2>
{% endblock %}

{% block subtitle %}
{% if category_name %}
    <h4>Category: {{ category_name }}</h4>
{% else %}
    <h4>All feeds</h4>
{% endif %}
{% endblock %}

{% block content %}
{% if categories %}
<div class="col-md-8 text-center">
    <input id="checkbox_categories" class="form-check-input mb-2" type="checkbox">
    <label class="form-check-label" for="checkbox_categories">Show categories</label>
    <div id="hide" class="d-flex flex-wrap justify-content-center">
	{% for category in categories %}
	    <a class="p-2 m-1 bg-light rounded" href="?category={{ category.name }}">{{ category.name }}</a>
	{% endfor %}
    </div>
</div>
{% endif %}
<div class="col-md-10">
    <ul class="list-group list-group-flush">
	{% for item in feeds %}
	{% if item['changed'] %}
	<h5 class="mt-2">{{ item['category'] }}</h5>
	{% endif %}
	<li class="list-group-item text-center">
	    <a href="/feed/{{ item['id'] }}">{{ item['title'] + ' - ' + item['link'] }}</a>
	</li>
	{% endfor %}
    </ul>
</div>
{% endblock %}
