{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Import{% endblock %}</h2>
{% endblock %}

{% block content %}
{% from "macros/renderfield.html" import render_field %}
<div class="col-md-5">
    <form enctype="multipart/form-data" method="post">
	    <div class="form-group">
		{{ render_field(form.import_file, class_="form-control-file") }}
	    </div>
	<input type="submit" class="btn btn-primary" value="Import">
    </form>
</div>
{% endblock %}
