{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Login{% endblock %}</h2>
{% endblock %}

{% block content %}
{% from "macros/renderfield.html" import render_field %}
<div class="col-md-5">
    <form method="post">
	<div class="form-group">
	    {{ render_field(form.username, class_="form-control") }}
	</div>
	<div class="form-group">
	    {{ render_field(form.password, class_="form-control") }}
	</div>
	<input type="submit" class="btn btn-primary" value=Login>
    </form>
</div>
{% endblock %}
