{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Feed deletion confirmation{% endblock %}</h2>
{% endblock %}

{% block content %}
<h3>Are you sure you want to feed {{ feed_name }} ?</h3>
<form method="post" action="{{request.path}}/remove">
    <p><input type="submit" value="Remove">
</form>
{% endblock %}
